* {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

#app-title {
	text-align: center;
}

.navbar {
	width: 50%;
	margin: auto;
}

.navbar .nav-item{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#table {
	padding: 2%;
	margin: 2%;
}

.page-item {
	padding: 1%;
}

#page-header {
	text-align: center;
}

#page-input {
	width: 100px;
}

.page-section {
	margin-left: 40%;
}

.card {
	margin: 1%;
	padding: 1%;
	height: 450px;
	max-height: 450px;
	overflow-x: auto;
	overflow-y: auto;
}

.dropdown-menu {         
	max-height: 450px;
	width: 300px;
	padding: 5%;
	overflow-x: auto;
	overflow-y: auto;
}

#count-result {
	text-align: center;
	margin: 1%;
}

.alert {
	background-color:rgba(0, 0, 0, 0.5);
	position: fixed;
	bottom: 0;
	left: 0;
	width: 200px;
}

.alert .btn {
	margin-left: 2%;
	background-color: white;
}

.alert .btn:hover {
	color: white;
	background-color: green;
}

.jumbotron {
	padding: auto;
	margin: auto;
}

#panel-header {
	text-align: center;
}








